p {
    border: 2.5px solid #FF9900;
    padding: 10px;
    background: #ffffff;
    width: auto;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-left-width: 10px;
    padding-left: 3%;
}