form {
    border: 2.5px solid #000000;
    padding: 10px;
    background: #ffffff;
    width: auto;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 10px;
    padding-left: 3%;
}


button {
    width: fit-content;
    border: 0px;
    background: #ececec;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 1%;
}