<head>
    <title>Amazdont - Register</title>
</head>
{% extends "web/base.html" %}

{% block content %}
{% load static %}

<div class="row d-flex justify-content-left align-items-center" style="padding-left: 2%;">
    <div class="col-md-6">

        <link rel="stylesheet" href="{% static 'web/box2.css' %}">

        <br />
        <h2>Register</h2>
        <br />

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        {% endblock %}
    </div>
</div>