<footer class="bg-light text-center text-lg-start;">
    <a class="container-fluid p-0">
        <div class="row">
            <a class="col text-center">
                Carril Novoa, Alexandre
            </a>

            <a class="col text-center">
                Dominguez Arjona, Julio
            </a>

            <a class="col text-center">
                Fernandez Vazquez, Alejandro
            </a>

            <a class="col text-center">
                Piatti, Vittoria
            </a>
        </div>
    </a>

    <div class="text-center p-0" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">Amazdon't</a>
    </div>

</footer>