{% extends "web/base.html" %}
{% block content %}

{% load static %}

<div class="text-center">
    <img src="{% static 'media/logo.png' %}" alt="My image" width="250" height="auto">
</div>

<div class="container">

    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <br />


            <form method="GET" action="{% url 'web:search' %}" class="form-inline my-2 my-lg-0">
                <input type="text" name="query" placeholder="" aria-label="Search" id="search" style="width: 85%;
                border: 0px;
                background: #ffffff;
                border-radius: 10px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                padding: 2%;">

                <button style="width: 15%;
                border: 0px;
                background: #ffffff;
                border-radius: 10px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                padding: 2%;" type="submit">Search</button>
            </form>

            <br />

            <link rel="stylesheet" href="{% static 'web/box.css' %}">

            {% for product in products %}

            <p>
                {{ product.user }}
                {{ product.name }}<br />
                {{ product.description }}<br />
                {{ product.price }}<br />
            </p>

            {% endfor %}
            {% endblock %}