{% extends "web/base.html" %}
{% block content %}

{% load static %}

<div class="text-center">
    <img src="{% static 'media/logo.png' %}" alt="My image" width="250" height="auto">
</div>

<div class="container">

    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <p>


            <form method="GET" action="{% url 'web:search' %}" class="form-inline my-2 my-lg-0">
                <input class="form-control form-input mr-sm-2" type="text" name="query" placeholder="Search"
                    aria-label="Search" id="search" style="width: 70%;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </p>

            <p>
                {% for data in dataset %}

                {{ data.user }}
                {{ data.name }}<br />
                {{ data.description }}<br />
                {{ data.price }}<br />

                <hr />
                {% endfor %}

            </p>

            {% endblock %}