{% extends "web/base.html" %}
{% block content %}

{% load static %}

<div class="text-center">
    <img src="{% static 'media/logo.png' %}" alt="My image" width="250" height="auto">
</div>

<div class="container">

    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <br />

            <form method="GET" action="{% url 'web:search' %}" class="form-inline my-2 my-lg-0">
                <input type="text" class="searchInput" name="query" placeholder="" aria-label="Search" id="search">
                <button type="submit" class="searchButton">Search</button>
            </form>

            <br />

            {% for product in products %}

            <div class="boxOrange">
                <table>
                    {% if product.image %}
                    <td>
                        <img src="{{product.image.url}}" class="img-thumbnail" width="100" height="100">
                    </td>
                    {% endif %}

                    <td>
                        {{ product.user }}
                        <b> {{ product.name }} </b> <br />
                        $&nbsp{{ product.price }}<br />

                        <a href="{% url 'web:product_details' id=product.id %}">
                            <button class="actionButton">Description</button>
                        </a>
                    </td>
                </table>
            </div>


            {% endfor %}
            {% endblock %}

        </div>
    </div>
</div>