{% extends "web/base.html" %}
{% block content %}
<h1>Welcome to Amazdont!</h1>
<h3>Please log in</h3>
Not a member yet? <a href="http://127.0.0.1:8000/web/register_page" target="_self">Subscribe here</a>
<div style="background-color: #000000; color: #FFFFFF; padding: 10px;">
<form>
    <label for="email">Email:</label><br>
    <input type="email" id="email" require><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" require>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
<br>

{% endblock %}