{% extends "web/base.html" %}
{% block content %}
<h1>Welcome to Amazdont!</h1>
<h3>Please register</h3>
Already a member? <a href="http://127.0.0.1:8000/web/login_page" target="_self">Log in here</a>
<div style="background-color: #000000; color: #FFFFFF; padding: 10px">
  <table style="color:white">
    <form>
      <tr>
        <td><label for="name">Name:</label><br>
        <input type="text" id="name" title='Your name' required maxlength="20"></td>
        <td><label for="surname">Surname:</label><br>
        <input type="text" id="surname" title='Your surname' required maxlength="50"></td>
      </tr>
      <tr> 
        <td><label for="email">Email:</label><br>
        <input type="email" id="email" title='Your email address' required maxlength="50"></td>
        <td><label for="dateofbirth">Date of birth: </label><br>
        <input type="date" id="dob" title='Birthday' required></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label><br>
        <input id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.rep_password.pattern = this.value;" required>
        <td><label for="rep_password">Repeat password:</label><br>
        <input id="rep_password" name="password_two" type="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password mismatch' : '');" required>
</td>
      </tr>
  </table>
  <br>
  <input type="submit" value="Submit">
  <input type="reset" value="Clear all">
</form>
</div>
<br>

{% endblock %}
